<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RailsCommitsApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84DE694E23B60C4E00AB4B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DE696223B60C6B00AB4B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DE696D23B60C6B00AB4B13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
